
    /*colores:*/
    /* fondo: #333333;*/
    /*fondo: cajas: #424242;*/
    /*linea: lightgray;*/
    /* boton: #007BFF;*/
    /* boton seleccionado: #0056b3;*/



body {
    background: #a5f09e;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.container {
    text-align: center;
}

.youtuber, .footer, .header {
    /* 4- color de fondo */
    background-color: aliceblue;
    border: 1px solid lightgray;
    /* 5- redondear el borde */
    border-radius: 20px;
    /* 6- sombra */
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    padding: 20px;
    text-align: center;    
}
.footer {
    padding: 0px;
    color: white;
}

.imageHome{
    border:black 4px solid;
    border-radius: 3%;
    /* 7- tamanyo */
    width: 300px;
    height: 200px;
    /* Se utiliza en imágenes y videos 
    para asegurarse de que siempre llenen 
    completamente el contenedor, manteniendo
    su relación de aspecto*/
    object-fit: cover; 
}

.youtuber .images {

    /* 8- redondear la imagen*/
    border-radius: 50%;
    width: 150px;
    height: 150px;    
    object-fit: cover; 
}

.youtuber h2 {    
    color: white;
    font-size: 1.5em;
    margin: 10px 0;
}

.youtuber p {
    color: white;
    font-size: 1em;
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
     display: inline-block;
    /* 11- borde izquierdo rojo */
    border-left: 4px red solid;
    /* 12- separa el borde de la izquierda */
    padding-left: 5px;
    margin-right: 10px;
}

#menu a {
    color: rgb(0, 47, 255);
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
    color: #b10909;
}


.button {
    padding: 10px 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}
.button:hover {
    
    background-color: #0056b3;
}

@media all and (max-width: 700px) {
    .youtuber, .footer {
         border-color: lightgray;
    }
    .button {      
        background-color: #0056b3;
    }
    .button:hover {
        background-color: #007BFF;
    }    
}
